/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Gilroy;
  src: url("./assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: GilroyExtraBold;
  src: url("./assets/fonts/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: GilroyBold;
  src: url("./assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: GilroyMedium;
  src: url("./assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: Travolga;
  src: url("./assets/fonts/tavolga-free.ttf");
}

body {
  font-family: Travolga, sans-serif;
  position: relative;
  overflow-x: hidden;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

